.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link:hover {
    color: red !important;
    font-weight: bolder;

}

a.nav-link.active {
    color: red !important;
    font-weight: bolder;
    text-decoration: underline;
}


@media screen and (max-width:760px) {
    li.nav-item {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid grey;
    }

    .navbar-nav .nav-link:hover {
        color: red !important;
        font-weight: bolder;

    }

    a.nav-link.active {
        color: red !important;
        font-weight: bolder;
    }


}