.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link:hover {
    color: red !important;
    font-weight: bolder;

}

a.nav-link.active {
    color: red !important;
    font-weight: bolder;
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}


@media screen and (max-width:760px) {
    li.nav-item {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .navbar-nav .nav-link:hover {
        color: red !important;
        font-weight: bolder;

    }

    a.nav-link.active {
        color: red !important;
        font-weight: bolder;
    }


    .main_nav {
        display: flex;
        justify-content: space-between;
        margin: 15px 10px;
        align-items: center;
    }


}